<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="static/img/apple-icon.png"
    />
    <link rel="icon" type="image/png" href="static/img/favicon.png" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
      Corn Production in the United States
    </title>
    <meta
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no"
      name="viewport"
    />
    <!--     Fonts and icons     -->
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200"
      rel="stylesheet"
    />
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <!-- CSS Files -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet" />
    <link href="static/css/paper-dashboard.css?v=2.0.0" rel="stylesheet" />
  </head>

  <!-- Sidebar -->

  <body class="">
    <div class="wrapper ">
      <div class="sidebar" data-color="white" data-active-color="danger">
        <div class="sidebar-wrapper">
          <ul class="nav">
            <li>
              <a href="/">
                <i class="nc-icon nc-bank"></i>
                <p>Dashboard</p>
              </a>
            </li>
            <li class="active ">
              <a href="/about">
                <i class="nc-icon nc-diamond"></i>
                <p>Importance of Corn</p>
              </a>
            </li>
            <li>
              <a href="/map">
                <i class="nc-icon nc-pin-3"></i>
                <p>Industries of Corn</p>
              </a>
            </li>
            <li>
              <a href="/drought">
                <i class="nc-icon nc-pin-3"></i>
                <p>Effects of Drought</p>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="main-panel">
        <!-- Page Title -->
        <nav
          class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent"
        >
          <div class="container-fluid">
            <div class="navbar-wrapper">
              <div class="navbar-toggle"></div>
              <a class="navbar-brand">Corn Production in the United States</a>
            </div>
            <div
              class="collapse navbar-collapse justify-content-end"
              id="navigation"
            ></div>
          </div>
        </nav>
        <!-- Content -->

        <div class="content">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <h5 class="title">Paper Table Heading</h5>
                  <p class="category">Created using Montserrat Font Family</p>
                </div>
                <div class="card-body">
                  <div class="typography-line">
                    <h1><span>Header 1</span>The Life of Paper Dashboard</h1>
                  </div>
                  <div class="typography-line">
                    <h2><span>Header 2</span>The Life of Paper Dashboard</h2>
                  </div>
                  <div class="typography-line">
                    <h3><span>Header 3</span>The Life of Paper Dashboard</h3>
                  </div>
                  <div class="typography-line">
                    <h4><span>Header 4</span>The Life of Paper Dashboard</h4>
                  </div>
                  <div class="typography-line">
                    <h5><span>Header 5</span>The Life of Paper Dashboard</h5>
                  </div>
                  <div class="typography-line">
                    <h6><span>Header 6</span>The Life of Paper Dashboard</h6>
                  </div>
                  <div class="typography-line">
                    <p>
                      <span>Paragraph</span>
                      I will be the leader of a company that ends up being worth
                      billions of dollars, because I got the answers. I
                      understand culture. I am the nucleus. I think that’s a
                      responsibility that I have, to push possibilities, to show
                      people, this is the level that things could be at.
                    </p>
                  </div>
                  <div class="typography-line">
                    <span>Quote</span>
                    <blockquote>
                      <p class="blockquote blockquote-primary">
                        "I will be the leader of a company that ends up being
                        worth billions of dollars, because I got the answers. I
                        understand culture. I am the nucleus. I think that’s a
                        responsibility that I have, to push possibilities, to
                        show people, this is the level that things could be at."
                        <br />
                        <br />
                        <small>
                          - Noaa
                        </small>
                      </p>
                    </blockquote>
                  </div>
                  <div class="typography-line">
                    <span>Muted Text</span>
                    <p class="text-muted">
                      I will be the leader of a company that ends up being worth
                      billions of dollars, because I got the answers...
                    </p>
                  </div>
                  <div class="typography-line">
                    <span>Primary Text</span>
                    <p class="text-primary">
                      I will be the leader of a company that ends up being worth
                      billions of dollars, because I got the answers...
                    </p>
                  </div>
                  <div class="typography-line">
                    <span>Info Text</span>
                    <p class="text-info">
                      I will be the leader of a company that ends up being worth
                      billions of dollars, because I got the answers...
                    </p>
                  </div>
                  <div class="typography-line">
                    <span>Success Text</span>
                    <p class="text-success">
                      I will be the leader of a company that ends up being worth
                      billions of dollars, because I got the answers...
                    </p>
                  </div>
                  <div class="typography-line">
                    <span>Warning Text</span>
                    <p class="text-warning">
                      I will be the leader of a company that ends up being worth
                      billions of dollars, because I got the answers...
                    </p>
                  </div>
                  <div class="typography-line">
                    <span>Danger Text</span>
                    <p class="text-danger">
                      I will be the leader of a company that ends up being worth
                      billions of dollars, because I got the answers...
                    </p>
                  </div>
                  <div class="typography-line">
                    <h2>
                      <span>Small Tag</span>
                      Header with small subtitle
                      <br />
                      <small>Use "small" tag for the headers</small>
                    </h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <footer class="footer footer-black  footer-white "></footer>
      </div>
    </div>
    <!--   Core JS Files   -->
    <script src="static/js/core/jquery.min.js"></script>
    <script src="static/js/core/popper.min.js"></script>
    <script src="static/js/core/bootstrap.min.js"></script>
    <script src="static/js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <!-- Chart JS -->
    <script src="static/js/plugins/chartjs.min.js"></script>
    <!--  Notifications Plugin    -->
    <script src="static/js/plugins/bootstrap-notify.js"></script>
    <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
    <script
      src="static/js/paper-dashboard.min.js?v=2.0.0"
      type="text/javascript"
    ></script>
  </body>
</html>
