<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="/static/img/corn.png" />
    <link rel="icon" type="image/png" href="/static/img/corn.png" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
      Corn Production in the United States
    </title>
    <meta
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no"
      name="viewport"
    />
    <!--     Fonts and icons     -->
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200"
      rel="stylesheet"
    />
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <!-- CSS Files -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet" />
    <link href="static/css/paper-dashboard.css?v=2.0.0" rel="stylesheet" />
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  </head>

  <!-- Sidebar -->

  <body class="">
    <div class="wrapper ">
      <div class="sidebar" data-color="white" data-active-color="danger">
        <div class="logo">
          <a class="simple-text logo-mini">
            <div class="logo-image-small">
              <img src="/static/img/corn.png" />
            </div>
          </a>
          <a class="simple-text logo-normal">
            Corn & Drought
          </a>
        </div>
        <div class="sidebar-wrapper">
          <ul class="nav">
            <li class="active">
              <a href="/">
                <i class="nc-icon nc-bank"></i>
                <p>Corn Use</p>
              </a>
            </li>
            <li>
              <a href="/commodity">
                <i class="nc-icon nc-diamond"></i>
                  <p>Subsidies</p>
              </a>
            </li>
            <li>
              <a href="/yield">
                <i class="nc-icon nc-tile-56"></i>
                <p>Yield vs Price</p>
              </a>
            </li>
            <li>
                <a href="/states">
                  <i class="nc-icon nc-pin-3"></i>
                  <p>States and Counties</p>
                </a>
              </li>
            <li>
                <a href="/planted">
                  <i class="nc-icon nc-tile-56"></i>
                  <p>Planted vs Yield</p>
                </a>
              </li>
              <li>
                  <a href="/table">
                    <i class="nc-icon nc-tile-56"></i>
                    <p>Drought Table</p>
                  </a>
                </li>
            <li>
              <a href="/drought">
                <i class="nc-icon nc-pin-3"></i>
                <p>Drought Map</p>
              </a>
            </li>
            <li>
              <a href="/about">
                <i class="nc-icon nc-diamond"></i>
                <p>About this Project</p>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="main-panel">
        <!-- Page Title -->

        <nav
          class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent"
        >
          <div class="container-fluid">
            <div class="navbar-wrapper">
              <div class="navbar-toggle"></div>
              <a class="navbar-brand">Importance of Corn in the United States</a>
            </div>
            <div
              class="collapse navbar-collapse justify-content-end"
              id="navigation"
            ></div>
          </div>
        </nav>
        <!-- Content -->

        <div class="content">
            <div class="row">
              <div class="col-md-12">
                <div class="card ">
                  <div class="card-header ">
                    <h5 class="card-title"></h5>
                  </div>
                  <div class="card-body ">
                      <div id="graph"></div>
                    <canvas width="400" height="100"></canvas>
                  </div>
                  <div class="card-footer ">
                      <p> 1999 - States pass bans on MTBE. These bans increased the need for ethanol as they went into effect. <br/> <hr>
                        2005 to 2015 - Large increases in the usage of ethanol in the US due to the Renewable Fuel Standard requiring 10% ethanol usage in gasoline.<br/> <hr>
                        2019 - In the past year, almost 15 billion gallons of ethanol is blended into gasoline in the U.S.<br/>
                        </p>
                    <hr />
                  </div>
                </div>
              </div>
        </div>
        </div>
      </div>
      </div>
        <div class="row">
        <footer class="footer footer-black  footer-white "></footer>

    </div>
    <!--   Core JS Files   -->
    <script src="static/js/us_corn_use_graph.js"></script>
    <script src="static/js/Combined_Data.js"></script>
		<script src="static/js/Commodities_Graph.js"></script>
    <script src="static/js/core/jquery.min.js"></script>
    <script src="static/js/core/popper.min.js"></script>
    <script src="static/js/core/bootstrap.min.js"></script>
    <script src="static/js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <!-- Chart JS -->
    <script src="static/js/plugins/chartjs.min.js"></script>
    <!--  Notifications Plugin    -->
    <script src="static/js/plugins/bootstrap-notify.js"></script>
    <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
    <script
      src="static/js/paper-dashboard.min.js?v=2.0.0"
      type="text/javascript"
    ></script>
  </body>
</html>
